In [1]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\komal\anaconda3\envs\nlp\lib\site-packages (4.1.0)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\komal\anaconda3\envs\nlp\lib\site-packages (from gensim) (5.2.1)
Requirement already satisfied: numpy>=1.17.0 in c:\users\komal\anaconda3\envs\nlp\lib\site-packages (from gensim) (1.20.3)
Requirement already satisfied: Cython==0.29.23 in c:\users\komal\anaconda3\envs\nlp\lib\site-packages (from gensim) (0.29.23)
Requirement already satisfied: scipy>=0.18.1 in c:\users\komal\anaconda3\envs\nlp\lib\site-packages (from gensim) (1.6.3)

In [1]:
import os
import pandas as pd

#from nltk.tokenize import sent_tokenize, word_tokenize
import gensim
from gensim.models import Word2Vec

In [2]:
#importing dataset
os.chdir(r"C:\Users\Komal\Downloads\Womens Clothing E-Commerce Reviews.csv")
data = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")

data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
data.shape

(23486, 11)

In [4]:
data = data[['Review Text']]
data.head()

                                         Review Text
0  Absolutely wonderful - silky and sexy and comf...
1  Love this dress!  it's sooo pretty.  i happene...
2  I had such high hopes for this dress and reall...
3  I love, love, love this jumpsuit. it's fun, fl...
4  This shirt is very flattering to all due to th...

In [5]:
data.dropna(inplace = True)

In [6]:
review_text = data['Review Text'].apply(gensim.utils.simple_preprocess)

In [7]:
review_text

0        [absolutely, wonderful, silky, and, sexy, and,...
1        [love, this, dress, it, sooo, pretty, happened...
2        [had, such, high, hopes, for, this, dress, and...
3        [love, love, love, this, jumpsuit, it, fun, fl...
4        [this, shirt, is, very, flattering, to, all, d...
                               ...
23481    [was, very, happy, to, snag, this, dress, at, ...
23482    [it, reminds, me, of, maternity, clothes, soft...
23483    [this, fit, well, but, the, top, was, very, se...
23484    [bought, this, dress, for, wedding, have, this...
23485    [this, dress, in, lovely, platinum, is, femini...
Name: Review Text, Length: 22641, dtype: object

In [8]:
model1 = gensim.models.Word2Vec(review_text, min_count = 2, window=3,sg=0) 
model2 = gensim.models.Word2Vec(review_text, min_count = 2, window=3, sg = 1)

In [9]:
print(model1)

Word2Vec(vocab=7929, vector_size=100, alpha=0.025)

In [10]:
print(model2)

Word2Vec(vocab=7929, vector_size=100, alpha=0.025)

In [11]:
model1.epochs

5

In [11]:
model1.train(review_text,total_examples=model1.corpus_count,epochs = model1.epochs)

(4326901, 6183600)

In [ ]:
#model1.save()

In [16]:
model1.wv.most_similar('great')

[('good', 0.8022764921188354),
 ('fantastic', 0.751565158367157),
 ('fabulous', 0.7446298599243164),
 ('nice', 0.7300523519515991),
 ('awesome', 0.6931604743003845),
 ('perfect', 0.6878910660743713),
 ('amazing', 0.6805908679962158),
 ('wonderful', 0.680295467376709),
 ('fine', 0.6141592860221863),
 ('best', 0.5657551288604736)]

In [19]:
model1.wv.most_similar('awful')

[('terrible', 0.8302247524261475),
 ('horrible', 0.7516050338745117),
 ('ridiculous', 0.737022876739502),
 ('odd', 0.6929174661636353),
 ('awkward', 0.6508379578590393),
 ('okay', 0.6388024091720581),
 ('blah', 0.6307127475738525),
 ('cheap', 0.6259473562240601),
 ('amazing', 0.6109998226165771),
 ('outstanding', 0.6097708344459534)]

In [21]:
model1.wv.similarity(w1='good',w2='awful')

0.5242851